@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Itim&display=swap');

.note { 
    display: block;
    background: whitesmoke;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 60vw;
    max-width: 550px;
    min-width: 300px;
    margin: 15px auto;
    border: 1px solid lightcyan;
}

.note-info {
    flex-grow: 1;
}